{% if active %}
	<input form="doreah_config_form" type="checkbox" name="{{ setting }}" checked='true' onchange="saveChanges()" />
{% else %}
	<input form="doreah_config_form" type="checkbox" name="{{ setting }}" onchange="saveChanges()" />
{% endif %}
